html {
overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}


body{
    background: #ffffff;
    overflow-x: hidden;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}



.myplus{
width:80%;
position: center
}

/* Настройка слайдера */
.slaid{
     margin: auto;
     margin-top: 3% !important;
     margin-bottom: 5%!important;
     padding: 0px!important;
     max-width:85%;

}

@media (max-width: 1200px){
.slaid{max-width:80%;}
}
.slick-slide{
    margin-right: 5px;
}
.navbar{
    background: #00011b;
}


.slick-prev:before, .slick-next:before {
    color: #00011b!important;
}
.footer{
    margin-top: 5%;
    background: #00011b!important;
    height: 80px;
    overflow-x: hidden;

}
.footer img{
    height: 80px;
    position:absolut;
}

.content {
  flex: 1 0 auto;
}
.footer  h5, a{
    float: right;
}

.footer  h5{
margin-top: 25px;
color:#d91425;
}

.footer a{
    opacity: 1;

}

.footer a  :hover {
    opacity: 0.7!important;

}

@media (max-width: 476px){
.shop_product{
margin-left: auto;
margin-right: auto!important;
}}

.shop_product{
max-width: 250px;


}

.shop_products img{
max-height: 200px;
max-width: 200px;
display: block;
margin-left: auto;
margin-right: auto



}

.img_sqe{
height: 230px;
width: 200px
}

.shop_product a img{
width:40px
}

.shop_product a img:hover{
transform: scale(1.2);
}
.my_btn_product {
float: right!important;
}