{% extends 'content/base.html' %}
{% load static %}

{% block title %} {{ product.title }} {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Возможна ошибка product замена на object решается-->
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/shop">Главная</a></li>
    <li class="breadcrumb-item"><a href="/shop/{{ product.category.slug }}">
        {{ product.category }}
    </a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  </ol>
</nav>
 <h1>{{ product.title }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <div class="  responsive_2 slaid  detail_slaider">
              <div>
                {% if product.img %}
                    <img src="{{ product.img.url }}" alt="{{ product.title }}">
                {% else %}
                    <img src="/pictures/default.png" alt="{{ product.title }}">
                {% endif %}
              </div>
              {% for imag in product.images.all %}
                <div>
                    <img src="{{ imag.image.url }}" alt="{{ product.title }}">
                </div>
              {% endfor %}

            </div>
            <button class="btn btn-success m-2 ">Купить</button>






        </div>
        <div class="col float-right">
            <div class="border p-2 m-2">
                <h5>Описание товара</h5>
                <hr>
                <p>{{product.description}}</p>
            </div>
            <div class="border p-2 m-2">
                <h5>Оплата </h5>
                <hr>
                <p>Наличная, Картой онлайн, Google Pay, Безналичными для юридических лиц, Безналичными для физических лиц, PrivatPay, Apple Pay</p>
            </div>
            <div class="border p-2 m-2">
                <h5>Гарантия </h5>
                <hr>
                <p>Обмен/возврат товара в течение 14 дней</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}